@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
body {
    background-image: url('./png/fondoHome.jpg');
    background-repeat:no-repeat;
    background-size:100%;
    background-attachment: fixed;
  }

/* HEADER */
.navbar {
    background-color: rgba(0, 0, 255, 0.3);
    position: fixed;
    width: 100%;
}

.container span {
    display: flex;
    color: white;
}

.pokedex {
    height: 50px;
    padding: 0px 10px;
}

#menu {
    text-decoration: none;
    list-style-type: none;
    width: 100%;
    display: flex;
}

#menu a {
    color: white;
    list-style: none;
    display: flex;
    padding: 10px;
}

/* ABOUT US */
.title {
    color: white;
    padding: 100px 25px 0px 40px;
}

.article {
    border-radius: 5px;
    border: 2px solid white;
    padding: 5px;
    margin: 20px 400px 20px 20px;
    background-image: linear-gradient(
        to bottom,
        rgba(255,255,255,0.8),
        rgba(255,255,255,0.3)
        );
    color: brown;
}

.article img {
    width: 40%;
    display: block;
    margin-left: auto;
}

/* CARDS */
.card {
    padding-top: 50px;
    /* border-radius: 10px; */
    border: 3px solid rgb(255, 255, 255);
    transform-style: preserve-3d;
    background: linear-gradient(135deg,#0000 18.75%,#f3f3f3 0 31.25%,#0000 0),
        repeating-linear-gradient(45deg,#f3f3f3 -6.25% 6.25%,#ffffff 0 18.75%);
    background-size: 60px 60px;
    background-position: 0 0, 0 0;
    background-color: #f0f0f0;
    width: 100%;
    box-shadow: rgba(142, 142, 142, 0.3) 0px 30px 30px -10px;
    transition: all 0.5s ease-in-out;
    }
    
    .card:hover {
    background-position: -100px 100px, -100px 100px;
    transform: rotate3d(0.5, 1, 0, 30deg);
    }
    
    .content-box-water {
    background: rgba(41, 4, 250, 0.732);
    /* border-radius: 10px 100px 10px 10px; */
    transition: all 0.5s ease-in-out;
    padding: 60px 25px 25px 25px;
    transform-style: preserve-3d;
    }
    
    .content-box-pshychic {
    background: rgba(250, 4, 250, 0.732);
    /* border-radius: 10px 100px 10px 10px; */
    transition: all 0.5s ease-in-out;
    padding: 60px 25px 25px 25px;
    transform-style: preserve-3d;
    }
    
    .content-box-water .card-title {
    display: inline-block;
    color: white;
    font-size: 25px;
    font-weight: 900;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 50px);
    }
    .content-box-pshychic .card-title {
    display: inline-block;
    color: white;
    font-size: 25px;
    font-weight: 900;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 50px);
    }
    
    .content-box-water .card-title:hover {
    transform: translate3d(0px, 0px, 60px);
    }
    .content-box-pshychic .card-title:hover {
    transform: translate3d(0px, 0px, 60px);
    }
    
    .content-box-water .card-content {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #f2f2f2;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 30px);
    }
    .content-box-pshychic .card-content {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #f2f2f2;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 30px);
    }
    
    .content-box-water .card-content:hover {
    transform: translate3d(0px, 0px, 60px);
    }
    .content-box-pshychic .card-content:hover {
    transform: translate3d(0px, 0px, 60px);
    }
    
    .date-box-water {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 60px;
    width: 60px;
    background: white;
    border: 1px solid rgba(41, 4, 250, 0.732);
    /* border-radius: 10px; */
    padding: 10px;
    transform: translate3d(0px, 0px, 80px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 17px 10px -10px;
    }
    .date-box-pshychic {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 60px;
    width: 60px;
    background: white;
    border: 1px solid rgba(250, 4, 250, 0.732);
    /* border-radius: 10px; */
    padding: 10px;
    transform: translate3d(0px, 0px, 80px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 17px 10px -10px;
    }
    
    .date-box-water span {
    display: block;
    text-align: center;
    }
    .date-box-pshychic span {
    display: block;
    text-align: center;
    }
    
    .content-box-fire {
    background: rgb(231, 7, 7);
    /* border-radius: 10px 100px 10px 10px; */
    transition: all 0.5s ease-in-out;
    padding: 60px 25px 25px 25px;
    transform-style: preserve-3d;
    }
    
    
    .content-box-fire .card-title {
    display: inline-block;
    color: white;
    font-size: 25px;
    font-weight: 900;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 50px);
    }
    
    .content-box-fire .card-title:hover {
    transform: translate3d(0px, 0px, 60px);
    }
    
    .content-box-fire .card-content {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #f2f2f2;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 30px);
    }
    
    .content-box-fire .card-content:hover {
    transform: translate3d(0px, 0px, 60px);
    }
    
    .date-box-fire {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 60px;
    width: 60px;
    background: white;
    border: 1px solid rgb(231, 7, 7);
    /* border-radius: 10px; */
    padding: 10px;
    transform: translate3d(0px, 0px, 80px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 17px 10px -10px;
    }
    
    .date-box-fire span {
    display: block;
    text-align: center;
    }
    
    .content-box-grass {
    background: rgb(9, 255, 0);
    /* border-radius: 10px 100px 10px 10px; */
    transition: all 0.5s ease-in-out;
    padding: 60px 25px 25px 25px;
    transform-style: preserve-3d;
    }
    
    
    .content-box-grass .card-title {
    display: inline-block;
    color: white;
    font-size: 25px;
    font-weight: 900;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 50px);
    }
    
    .content-box-grass .card-title:hover {
    transform: translate3d(0px, 0px, 60px);
    }
    
    .content-box-grass .card-content {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #f2f2f2;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 30px);
    }
    
    .content-box-grass .card-content:hover {
    transform: translate3d(0px, 0px, 60px);
    }
    
    .date-box-grass {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 60px;
    width: 60px;
    background: white;
    border: 1px solid rgb(9, 255, 0);
    /* border-radius: 10px; */
    padding: 10px;
    transform: translate3d(0px, 0px, 80px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 17px 10px -10px;
    }
    
    .date-box-grass span {
    display: block;
    text-align: center;
    }
    
    .content-box-normal {
    background: rgba(212, 219, 212, 0.945);
    /* border-radius: 10px 100px 10px 10px; */
    transition: all 0.5s ease-in-out;
    padding: 60px 25px 25px 25px;
    transform-style: preserve-3d;
    }
    
    
    .content-box-normal .card-title {
    display: inline-block;
    color: white;
    font-size: 25px;
    font-weight: 900;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 50px);
    }
    
    .content-box-normal .card-title:hover {
    transform: translate3d(0px, 0px, 60px);
    }
    
    .content-box-normal .card-content {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #f2f2f2;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 30px);
    }
    
    .content-box-normal .card-content:hover {
    transform: translate3d(0px, 0px, 60px);
    }
    
    .date-box-normal {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 60px;
    width: 60px;
    background: white;
    border: 1px solid rgba(212, 219, 212, 0.945);
    /* border-radius: 10px; */
    padding: 10px;
    transform: translate3d(0px, 0px, 80px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 17px 10px -10px;
    }
    
    .date-box-normal span {
    display: block;
    text-align: center;
    }
    
    .content-box-flying {
    background: rgba(105, 195, 218, 0.945);
    /* border-radius: 10px 100px 10px 10px; */
    transition: all 0.5s ease-in-out;
    padding: 60px 25px 25px 25px;
    transform-style: preserve-3d;
    }
    
    
    .content-box-flying .card-title {
    display: inline-block;
    color: white;
    font-size: 25px;
    font-weight: 900;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 50px);
    }
    
    .content-box-flying .card-title:hover {
    transform: translate3d(0px, 0px, 60px);
    }
    
    .content-box-flying .card-content {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #f2f2f2;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 30px);
    }
    
    .content-box-flying .card-content:hover {
    transform: translate3d(0px, 0px, 60px);
    }
    
    .date-box-flying {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 60px;
    width: 60px;
    background: white;
    border: 1px solid rgba(105, 195, 218, 0.945);
    /* border-radius: 10px; */
    padding: 10px;
    transform: translate3d(0px, 0px, 80px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 17px 10px -10px;
    }
    
    .date-box-flying span {
    display: block;
    text-align: center;
    }
    
    .content-box-electric {
    background: rgba(255, 251, 2, 0.945);
    /* border-radius: 10px 100px 10px 10px; */
    transition: all 0.5s ease-in-out;
    padding: 60px 25px 25px 25px;
    transform-style: preserve-3d;
    }
    
    
    .content-box-electric .card-title {
    display: inline-block;
    color: white;
    font-size: 25px;
    font-weight: 900;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 50px);
    }
    
    .content-box-electric .card-title:hover {
    transform: translate3d(0px, 0px, 60px);
    }
    
    .content-box-electric .card-content {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #f2f2f2;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 30px);
    }
    
    .content-box-electric .card-content:hover {
    transform: translate3d(0px, 0px, 60px);
    }
    
    .date-box-electric {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 60px;
    width: 60px;
    background: white;
    border: 1px solid rgba(255, 251, 2, 0.945);
    /* border-radius: 10px; */
    padding: 10px;
    transform: translate3d(0px, 0px, 80px);
    box-shadow: rgba(246, 250, 4, 0.2) 0px 17px 10px -10px;
    }
    
    .date-box-electric span {
    display: block;
    text-align: center;
    }
    
    .content-box-steel {
    background: rgba(122, 122, 118, 0.945);
    /* border-radius: 10px 100px 10px 10px; */
    transition: all 0.5s ease-in-out;
    padding: 60px 25px 25px 25px;
    transform-style: preserve-3d;
    }
    
    
    .content-box-steel .card-title {
    display: inline-block;
    color: white;
    font-size: 25px;
    font-weight: 900;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 50px);
    }
    
    .content-box-steel .card-title:hover {
    transform: translate3d(0px, 0px, 60px);
    }
    
    .content-box-steel .card-content {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #f2f2f2;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 30px);
    }
    
    .content-box-steel .card-content:hover {
    transform: translate3d(0px, 0px, 60px);
    }
    
    .date-box-steel {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 60px;
    width: 60px;
    background: white;
    border: 1px solid rgba(122, 122, 118, 0.945);
    /* border-radius: 10px; */
    padding: 10px;
    transform: translate3d(0px, 0px, 80px);
    box-shadow: rgba(246, 250, 4, 0.2) 0px 17px 10px -10px;
    }
    
    .date-box-steel span {
    display: block;
    text-align: center;
    }
    
    .content-box-rock {
    background: rgba(117, 117, 26, 0.945);
    /* border-radius: 10px 100px 10px 10px; */
    transition: all 0.5s ease-in-out;
    padding: 60px 25px 25px 25px;
    transform-style: preserve-3d;
    }
    
    
    .content-box-rock .card-title {
    display: inline-block;
    color: white;
    font-size: 25px;
    font-weight: 900;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 50px);
    }
    
    .content-box-rock .card-title:hover {
    transform: translate3d(0px, 0px, 60px);
    }
    
    .content-box-rock .card-content {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #f2f2f2;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 30px);
    }
    
    .content-box-rock .card-content:hover {
    transform: translate3d(0px, 0px, 60px);
    }
    
    .date-box-rock {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 60px;
    width: 60px;
    background: white;
    border: 1px solid rgba(117, 117, 26, 0.945);
    /* border-radius: 10px; */
    padding: 10px;
    transform: translate3d(0px, 0px, 80px);
    box-shadow: rgba(246, 250, 4, 0.2) 0px 17px 10px -10px;
    }
    
    .date-box-rock span {
    display: block;
    text-align: center;
    }
    
    .content-box-ice {
    background: rgba(1, 255, 170, 0.945);
    /* border-radius: 10px 100px 10px 10px; */
    transition: all 0.5s ease-in-out;
    padding: 60px 25px 25px 25px;
    transform-style: preserve-3d;
    }
    
    
    .content-box-ice .card-title {
    display: inline-block;
    color: white;
    font-size: 25px;
    font-weight: 900;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 50px);
    }
    
    .content-box-ice .card-title:hover {
    transform: translate3d(0px, 0px, 60px);
    }
    
    .content-box-ice .card-content {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #f2f2f2;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 30px);
    }
    
    .content-box-ice .card-content:hover {
    transform: translate3d(0px, 0px, 60px);
    }
    
    .date-box-ice {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 60px;
    width: 60px;
    background: white;
    border: 1px solid rgba(1, 255, 170, 0.945);
    /* border-radius: 10px; */
    padding: 10px;
    transform: translate3d(0px, 0px, 80px);
    box-shadow: rgba(246, 250, 4, 0.2) 0px 17px 10px -10px;
    }
    
    .date-box-ice span {
    display: block;
    text-align: center;
    }
    
    .content-box-ground {
    background: rgba(158, 168, 7, 0.945);
    /* border-radius: 10px 100px 10px 10px; */
    transition: all 0.5s ease-in-out;
    padding: 60px 25px 25px 25px;
    transform-style: preserve-3d;
    }
    
    
    .content-box-ground .card-title {
    display: inline-block;
    color: white;
    font-size: 25px;
    font-weight: 900;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 50px);
    }
    
    .content-box-ground .card-title:hover {
    transform: translate3d(0px, 0px, 60px);
    }
    
    .content-box-ground .card-content {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #f2f2f2;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 30px);
    }
    
    .content-box-ground .card-content:hover {
    transform: translate3d(0px, 0px, 60px);
    }
    
    .date-box-ground {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 60px;
    width: 60px;
    background: white;
    border: 1px solid rgba(158, 168, 7, 0.945);
    /* border-radius: 10px; */
    padding: 10px;
    transform: translate3d(0px, 0px, 80px);
    box-shadow: rgba(246, 250, 4, 0.2) 0px 17px 10px -10px;
    }
    
    .date-box-ground span {
    display: block;
    text-align: center;
    }
    
    .content-box-poison {
    background: rgba(105, 6, 124, 0.945);
    /* border-radius: 10px 100px 10px 10px; */
    transition: all 0.5s ease-in-out;
    padding: 60px 25px 25px 25px;
    transform-style: preserve-3d;
    }
    
    
    .content-box-poison .card-title {
    display: inline-block;
    color: white;
    font-size: 25px;
    font-weight: 900;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 50px);
    }
    
    .content-box-poison .card-title:hover {
    transform: translate3d(0px, 0px, 60px);
    }
    
    .content-box-poison .card-content {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #f2f2f2;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 30px);
    }
    
    .content-box-poison .card-content:hover {
    transform: translate3d(0px, 0px, 60px);
    }
    
    .date-box-poison {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 60px;
    width: 60px;
    background: white;
    border: 1px solid rgba(105, 6, 124, 0.945);
    /* border-radius: 10px; */
    padding: 10px;
    transform: translate3d(0px, 0px, 80px);
    box-shadow: rgba(246, 250, 4, 0.2) 0px 17px 10px -10px;
    }
    
    .date-box-poison span {
    display: block;
    text-align: center;
    }
    
    .content-box-dark {
    background: rgba(42, 34, 44, 0.945);
    /* border-radius: 10px 100px 10px 10px; */
    transition: all 0.5s ease-in-out;
    padding: 60px 25px 25px 25px;
    transform-style: preserve-3d;
    }
    
    
    .content-box-dark .card-title {
    display: inline-block;
    color: white;
    font-size: 25px;
    font-weight: 900;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 50px);
    }
    
    .content-box-dark .card-title:hover {
    transform: translate3d(0px, 0px, 60px);
    }
    
    .content-box-dark .card-content {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #f2f2f2;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 30px);
    }
    
    .content-box-dark .card-content:hover {
    transform: translate3d(0px, 0px, 60px);
    }
    
    .date-box-dark {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 60px;
    width: 60px;
    background: white;
    border: 1px solid rgba(42, 34, 44, 0.945);
    /* border-radius: 10px; */
    padding: 10px;
    transform: translate3d(0px, 0px, 80px);
    box-shadow: rgba(246, 250, 4, 0.2) 0px 17px 10px -10px;
    }
    
    .date-box-dark span {
    display: block;
    text-align: center;
    }
    
    .content-box-bug {
    background: rgba(160, 245, 2, 0.945);
    /* border-radius: 10px 100px 10px 10px; */
    transition: all 0.5s ease-in-out;
    padding: 60px 25px 25px 25px;
    transform-style: preserve-3d;
    }
    
    
    .content-box-bug .card-title {
    display: inline-block;
    color: white;
    font-size: 25px;
    font-weight: 900;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 50px);
    }
    
    .content-box-bug .card-title:hover {
    transform: translate3d(0px, 0px, 60px);
    }
    
    .content-box-bug .card-content {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #f2f2f2;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 30px);
    }
    
    .content-box-bug .card-content:hover {
    transform: translate3d(0px, 0px, 60px);
    }
    
    .date-box-bug {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 60px;
    width: 60px;
    background: white;
    border: 1px solid rgba(160, 245, 2, 0.945);
    /* border-radius: 10px; */
    padding: 10px;
    transform: translate3d(0px, 0px, 80px);
    box-shadow: rgba(246, 250, 4, 0.2) 0px 17px 10px -10px;
    }
    
    .date-box-bug span {
    display: block;
    text-align: center;
    }
    
    .content-box-fighting {
    background: rgba(224, 76, 17, 0.945);
    /* border-radius: 10px 100px 10px 10px; */
    transition: all 0.5s ease-in-out;
    padding: 60px 25px 25px 25px;
    transform-style: preserve-3d;
    }
    
    
    .content-box-fighting .card-title {
    display: inline-block;
    color: white;
    font-size: 25px;
    font-weight: 900;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 50px);
    }
    
    .content-box-fighting .card-title:hover {
    transform: translate3d(0px, 0px, 60px);
    }
    
    .content-box-fighting .card-content {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #f2f2f2;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 30px);
    }
    
    .content-box-fighting .card-content:hover {
    transform: translate3d(0px, 0px, 60px);
    }
    
    .date-box-fighting {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 60px;
    width: 60px;
    background: white;
    border: 1px solid rgba(224, 76, 17, 0.945);
    /* border-radius: 10px; */
    padding: 10px;
    transform: translate3d(0px, 0px, 80px);
    box-shadow: rgba(246, 250, 4, 0.2) 0px 17px 10px -10px;
    }
    
    .date-box-fighting span {
    display: block;
    text-align: center;
    }
    
    .content-box-dragon {
    background: rgba(61, 7, 161, 0.945);
    /* border-radius: 10px 100px 10px 10px; */
    transition: all 0.5s ease-in-out;
    padding: 60px 25px 25px 25px;
    transform-style: preserve-3d;
    }
    
    
    .content-box-dragon .card-title {
    display: inline-block;
    color: white;
    font-size: 25px;
    font-weight: 900;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 50px);
    }
    
    .content-box-dragon .card-title:hover {
    transform: translate3d(0px, 0px, 60px);
    }
    
    .content-box-dragon .card-content {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #f2f2f2;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 30px);
    }
    
    .content-box-dragon .card-content:hover {
    transform: translate3d(0px, 0px, 60px);
    }
    
    .date-box-dragon {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 60px;
    width: 60px;
    background: white;
    border: 1px solid rgba(61, 7, 161, 0.945);
    /* border-radius: 10px; */
    padding: 10px;
    transform: translate3d(0px, 0px, 80px);
    box-shadow: rgba(246, 250, 4, 0.2) 0px 17px 10px -10px;
    }
    
    .date-box-dragon span {
    display: block;
    text-align: center;
    }
    
    .content-box-ghost {
    background: rgba(125, 74, 221, 0.945);
    /* border-radius: 10px 100px 10px 10px; */
    transition: all 0.5s ease-in-out;
    padding: 60px 25px 25px 25px;
    transform-style: preserve-3d;
    }
    
    
    .content-box-ghost .card-title {
    display: inline-block;
    color: white;
    font-size: 25px;
    font-weight: 900;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 50px);
    }
    
    .content-box-ghost .card-title:hover {
    transform: translate3d(0px, 0px, 60px);
    }
    
    .content-box-ghost .card-content {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #f2f2f2;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 30px);
    }
    
    .content-box-ghost .card-content:hover {
    transform: translate3d(0px, 0px, 60px);
    }
    
    .date-box-ghost {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 60px;
    width: 60px;
    background: white;
    border: 1px solid rgba(125, 74, 221, 0.945);
    /* border-radius: 10px; */
    padding: 10px;
    transform: translate3d(0px, 0px, 80px);
    box-shadow: rgba(246, 250, 4, 0.2) 0px 17px 10px -10px;
    }
    
    .date-box-ghost span {
    display: block;
    text-align: center;
    }
    
    .content-box-fairy {
    background: rgba(243, 4, 135, 0.945);
    /* border-radius: 10px 100px 10px 10px; */
    transition: all 0.5s ease-in-out;
    padding: 60px 25px 25px 25px;
    transform-style: preserve-3d;
    }
    
    
    .content-box-fairy .card-title {
    display: inline-block;
    color: white;
    font-size: 25px;
    font-weight: 900;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 50px);
    }
    
    .content-box-fairy .card-title:hover {
    transform: translate3d(0px, 0px, 60px);
    }
    
    .content-box-fairy .card-content {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #f2f2f2;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 30px);
    }
    
    .content-box-fairy .card-content:hover {
    transform: translate3d(0px, 0px, 60px);
    }
    
    .date-box-fairy {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 60px;
    width: 60px;
    background: white;
    border: 1px solid rgba(243, 4, 135, 0.945);
    /* border-radius: 10px; */
    padding: 10px;
    transform: translate3d(0px, 0px, 80px);
    box-shadow: rgba(246, 250, 4, 0.2) 0px 17px 10px -10px;
    }
    
    .date-box-fairy span {
    display: block;
    text-align: center;
    }
    .jumbotron {
        background: none;
        padding-bottom: 0;
    }
    #banner{
        height: 100px;
        width: 20%;
        background-image: url(https://i.pinimg.com/originals/2b/1d/fe/2b1dfec19b945a19ac39641278a6a799.jpg) ;
        background-size:cover;
        background-repeat: no-repeat ;
        margin-left: 40%;
        border-style: solid;
        border-radius: 2.5%;
        border-width: 1.5px;
    }
/* This pen */
body {
	font-family: "Baloo 2", cursive;
	font-size: 16px;
	color: #ffffff;
	text-rendering: optimizeLegibility;
	font-weight: initial;
}

.dark {
	background: #110f16;
}


.light {
	background: #f3f5f7;
}

a, a:hover {
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
	margin: 2rem 0;
	text-transform: uppercase;
	text-align: center;
	font-size: 2.5rem;
}

/* Cards */
.postcard {
  flex-wrap: wrap;
  display: flex;
  
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;

	&.dark {
		background-color: #18151f;
	}
	&.light {
		background-color: #e1e5ea;
	}
	
	.t-dark {
		color: #18151f;
	}
	
  a {
    color: inherit;
  }
	
	h1,	.h1 {
		margin-bottom: 0.5rem;
		font-weight: 500;
		line-height: 1.2;
	}
	
	.small {
		font-size: 80%;
	}

  .postcard__title {
    font-size: 1.75rem;
  }

  .postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
  }

  .postcard__img_link {
    display: contents;
  }

  .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
  }

  .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
  }

  .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
		padding: 0;
    justify-content: center;

    .tag__item {
      display: inline-block;
      background: rgba(83, 83, 83, 0.4);
      border-radius: 3px;
      padding: 2.5px 10px;
      margin: 0 5px 5px 0;
      cursor: default;
      user-select: none;
      transition: background-color 0.3s;

      &:hover {
        background: rgba(83, 83, 83, 0.8);
      }
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
  }

  &:hover .postcard__bar {
    width: 100px;
  }
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;

    .postcard__title {
      font-size: 2rem;
    }

    .postcard__tagbox {
      justify-content: start;
    }

    .postcard__img {
      max-width: 300px;
      max-height: 100%;
      transition: transform 0.3s ease;
    }

    .postcard__text {
      padding: 3rem;
      width: 100%;
    }

    .media.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      background: #18151f;
      top: -20%;
      height: 130%;
      width: 55px;
    }

    &:hover .postcard__img {
      transform: scale(1.1);
    }

    &:nth-child(2n+1) {
      flex-direction: row;
    }

    &:nth-child(2n+0) {
      flex-direction: row-reverse;
    }

    &:nth-child(2n+1) .postcard__text::before {
      left: -12px !important;
      transform: rotate(4deg);
    }

    &:nth-child(2n+0) .postcard__text::before {
      right: -12px !important;
      transform: rotate(-4deg);
    }
  }
}
@media screen and (min-width: 1024px){
		.postcard__text {
      padding: 2rem 3.5rem;
    }
		
		.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      
      top: -20%;
      height: 130%;
      width: 55px;
    }
	
  .postcard.dark {
		.postcard__text:before {
			background: #18151f;
		}
  }
	.postcard.light {
		.postcard__text:before {
			background: #e1e5ea;
		}
  }
}